# XRPL Network — use testnet for development
XRPL_NODE_URL=wss://alien-aged-spree.xrp-testnet.quiknode.pro/87ccc808d51dd07c89d0c36615c8ce91762edde2/

# Funder wallet (pre-funded testnet wallet)
FUNDER_WALLET_SEED=sEdStL84yLkP5UviXw6ct9W3hTbZebA

# Clinic wallet (pre-funded testnet wallet, receives escrow payouts)
CLINIC_WALLET_SEED=sEdSW1VhPt5yqFfQfUTH1Yw19Ei2BYf
CLINIC_WALLET_ADDRESS=rppan2AHEdwozt93XH3ejYHtAva2mtYXXD

# Database
DATABASE_URL=sqlite:///./hackathon.db